<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KodiLauncherGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.diagnostics>
        <sources>
            <!-- This section defines the logging configuration for My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Uncomment the below section to write to the Application Event Log -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <KodiLauncherGUI.My.MySettings>
            <setting name="StartXBMCatWinLogon" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartXBMCatWinResume" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartXBMCPortable" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartupDelay" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DisableFocusPermanently" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FocusOnce" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FocusDelay" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="FocusExternalPlayer" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CloseXBMCatSleep" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ForceCloseXBMC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartExplorer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StartMetroUI" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowCustomShutdownMenu" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShutdownAction" serializeAs="String">
                <value>u</value>
            </setting>
            <setting name="XBMC_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="XBMConiMON_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="iMON_Path" serializeAs="String">
                <value />
            </setting>
        </KodiLauncherGUI.My.MySettings>
    </userSettings>
</configuration>
